body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    align-items: center;
    padding: 0 64px;

}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.firstSection {
    display: flex;
    background: #1f2937;
    align-items: center;
}

.firstSection .left {
    margin: 100px 64px;
    color: #f9faf8;
}

.firstSection .headline {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.firstSection .subheadline {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.firstSection button {
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882f6;
    color: #e5e7eb;
    border: 1px white;
    font-weight: 600;
}

.image {
    width: 500px;
    height: 300px;
    background: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    margin: 100px 64px;
    flex: 1 1 500px;
}

.secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondSection .headline {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 32px;
}

.secondSection .container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
}

.cardImage {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid #3882f6;
    margin-bottom: 16px;
}

.thirdSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e7eb
}

.thirdSection .container {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    margin: 32px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    align-self: flex-start;
    margin-bottom: 16px;
}

.quoteAttribution {
    margin-left: auto;
    font-weight: 600;
}

.fourthSection {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}

.fourthSection .container {
    background: #3882f6;
    border-radius: 8px;
    padding: 32px 64px;
    margin: 64px;
    display: flex;
    align-items: center;
    gap: 128px;
}

.fourthSection .headline {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 4px;
}

.fourthSection .subheadline {
    font-weight: 200;
    font-size: 14px;
}

.fourthSection button {
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882f6;
    color: #e5e7eb;
    border: 2px solid white;
    font-weight: 600;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background: #1f2937;
    color: #e5e7eb;
}